$textcolor: #000000;
$secondarytextcolor: #fff; 
$bgcolor: #fff; 
$greenfon: #B9FF66;
$blackfon: #191A23;
$grayfon: #F3F3F3;
$secondarybgcolor: #898989; 
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$fontmain: 'Space Grotesk', sans-serif;